.test-modal-questions-container {
   height: 400px;
   overflow: scroll;
   border: black;
   border-style: groove;
}

.create-test-container {
   margin-top: 50px;
}

.error {
   padding-top: 0.5em;
   color: red;
   font-weight: bold;
   display: none;
   font-size: 20px;
}