.checkbox-container {
    border-right: '0.1em solid black'; 
    padding: '0.5em';
}

.score-container {
    
}

/* .checkbox-container-hide {
    visibility: hidden; 
} */


.question {
    padding: 1em;
    margin: 0.5em 0em;
}
